@model Employee
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<style>
  .validationMsg{
      color:red;
  }
  .input-validation-error{
      border:2px solid red;
  }
</style>
<body>
   <form  method="post">
       name:@Html.TextBoxFor(m => m.Name) @Html.ValidationMessageFor(m => m.Name, "", new { @class = "validationMsg" })
       salary:@Html.TextBoxFor(m => m.Salary) @Html.ValidationMessageFor(m => m.Salary, "", new { @class = "validationMsg" })
       address:@Html.TextAreaFor(m=>m.Address) @Html.ValidationMessageFor(m => m.Address, "", new { @class = "validationMsg" })
       <input type="submit" value="Submit" />
   </form>
</body>
</html>
